<div class="row">
<div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail">
        <li><a href="<%= user_cart_path %>">
            <h4 class="list-group-item-heading">Стъпка 1</h4>
            <p class="list-group-item-text">Преглед на кошница</p>
        </a></li>
        <li class="active"><a href="#">
            <h4 class="list-group-item-heading">Стъпка 2</h4>
            <p class="list-group-item-text">Поръчка</p>
        </a></li>
        <li class="disabled"><a href="#">
            <h4 class="list-group-item-heading">Стъпка 3</h4>
            <p class="list-group-item-text">Преглед на поръчка</p>
        </a></li>
    </ul>
</div>
</div>
<%= render 'form' %>
